<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet"  type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i style="font-size:2em;" class="code icon"></i>
					Blog Site
				</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			
			</div>
			<% if(!currentUser) {%>
				<a href="/login" class="item navbar-right">Login</a>
				<a href="/register" class="item navbar-right">Sign Up</a>
			<% }else{ %>
					<a href="#" class="item navbar-right">Signed In as <%=currentUser.username %></a>
					<a href="/logout" class="item navbar-right">Logout</a>
			<% } %>
		</div>
