<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet"  type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i style="font-size:2em;" class="code icon"></i>
					Blog Site
				</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
				<% if(!currentUser){ %>
					<a class="item" href="/register">Sign Up</a>
					<a class="item" href="/login">Sign In</a>
				<% }else{ %>
					<a class="item">signed as <%= currentUser.username %></a>
					<a class="item" href="/logout">Log Out</a>
				<% } %>
			</div>
		</div>
